.footer-bg{
    background-image: url("/home/sandeepsana/Desktop/Routing/sample_project/src/Assests/group-13-copy.jpg");
        /* width: 1449px;
        height: 339px;
        margin: 68px 0 0;
        padding: 0 0 2px 9px;
        object-fit: contain; */
      
}
.footer-section{
    margin-top: 5rem;
  padding: 4rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
    
}