
 @mixin important3($di,$fd,$ai,$cl,$mr,$pd,$fs,$b-i) {
     display:$di;
     flex-direction:$fd;
     align-items:$ai;
     color:$cl;
     margin:$mr;
     padding:$pd;
     font-size:$fs;
     background-image:$b-i;
 }
 .footer{
     @include important3(flex,column,center,white,null,null,null,linear-gradient(to bottom, #70a2ea 3%, #064493))
 }
 .fill{
     @include important3(null,null,null,white,10px,null,null,null)
 }
 .street{
     @include important3(null,null,null,white,null,10px,10px,null)
 }
 .form-control{
     opacity: 0.25;
 }
 .bi-cursor{
     color:blue;
 }
 // .bi-cursor{
 // position: absolute;
 // left: 252px;
 // bottom: 142px;
 // }
 // .email{
 //     position: relative;
 // }