.iconcontainer{
    width: 36px;
    height: 36px;
    background-color: #bcd1ee;
}
.spot{
  color: #124f9d;
  font-size: 18px;
  margin-bottom: auto;
}
.spot2{
  color: #124f9d;
  font-size: 12px;
}
.chooseicon{
   /*  width: 100%;
  height: 900px; */
  padding: 0 0 49px;
  background-color: #eef2f7;
}
.shape{
    width: 24px;
  height: 24px;
  margin: 21px 0 20px 166px;
  background-color: #bcd1ee
}
/* .Rectangle {
     width: 1000px;
    height: 754px; 
    margin: 32px 231px 0 209px;
    padding: 97px 257px 270px 279px;
    box-shadow: 0 0 14px 0 rgba(5, 9, 16, 0.13);
    background-color: #fff;
  } */
  .spotcontainer{
    width: 192px;
    height: 70px;
    padding: 20px 19px 6px;
    background-color: #bcd1ee;
    text-align: center;
  }
  .welcome{
  
   font-size: 20px;
    font-family: BebasNeue;
    font-weight: bold;
  }
  .welcomecon{
  
    width: 300px; 
    background-color: #fff;
    text-align: left;
  }
  .provider{
    color: #050910;
  }
  .display{
      display: flex;
      flex-direction: row;
  }
  .awscon{
    width: 450px;
    height: 250px;
    margin: 58px 21px 0 0;
    padding: 50px 35px 9px;
    box-shadow: 0 0 18px 0 rgba(5, 9, 16, 0.13);
    background-color: #fff;
  }
  .spotcon{
   
   
    text-align: justify;
  
    -moz-text-align-last: center;
    
     text-align-last: center;
    }
    .cont{
      background-color: #bcd1ee;
      width: 200px;
      margin: auto; 
    }