
.mobileinput{
    width: 60px;
}
.capta-image{
    width: 300px;
   margin-left: 100px;
}
.signup-btn{
    background-image: linear-gradient(to bottom, #70a2ea , #064493);
    border: none;
    color: #fff;
    padding: 4px;
    font-weight: bold;

    
}

::placeholder{
    color: #021d3f;
}
.spanEle{
    color: #064493;
    font-size: 15px;
    font-weight: bold;
}
.inputfields{
    width: 225px;
}
.mobilecodeinput{
    width: 385px;
}